.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% auto auto auto;
  gap: 10px;
  height: 100vh;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.calculator input[type="text"] {
  font-size: 24px;
  grid-column: 1/5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.calculator button {
  font-size: 24px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.calculator button:hover {
  background-color: #ddd;
  color: #333;
}

.operator-button{
  color:blueviolet;
}
